.top {
  background-color: #f1e4e6;
  height: 764px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__img {
    width: auto;
    height: 764px;
  }

  &__title {
    color: $black;
    font-size: 48px;
    font-weight: 900;
    margin-top: 290px;
    margin-right: 101px;
    padding-left: 16px;
    border-left: 12px solid $pink;
    flex-basis: 405px;

    &_small {
      display: block;
      font-style: normal;
      font-size: 32px;
      font-weight: 700;

      & > span {
        color: $pink;
      }
    }
  }
}
