* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: inherit;
  background-color: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}

img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
