$white: #fff;
$white2: #fbfbfb;
$white3: #e1e1e1;
$white4-fill: #f8f3f4;
$white5: #ebebeb;
$black: #222;
$black1: #000;
$grey: #5d5d5d;
$grey2: #9f9f9f;
$grey3: #636363;
$grey4: #6f6e6e;
$grey5: #c4c4c4;
$pink: #f16d7f;
$pink2: #f26376;
$pink3: #e05c6e;
$pink4: #ef5b70;

$max-width: 1180px;

$font-family: "Lato", sans-serif;
