.delivery {
  padding: 104px 0;
  background-color: $black;

  @media (max-width: 990px) {
    padding: 48px 64px;
  }

  @media (max-width: 760px) {
    padding: 48px 81px;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 990px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 47px;
    }
  }

  &__item {
    max-width: 348px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &-title {
      color: $white2;
      font-size: 20px;
      font-weight: 400;
      margin-top: 12px;
      text-align: center;
    }

    &-desc {
      color: $white2;
      font-size: 14px;
      text-align: center;
    }
  }
}
